<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-terminals-menu" label="Terminals">
	<item label="xterm"><action name="Execute"><command>xterm</command></action></item>
	<item label="uxterm"><action name="Execute"><command>uxterm</command></action></item>
	<!-- <item label="st"><action name="Execute"><command>st</command></action></item> -->
	<item label="terminology"><action name="Execute"><command>/app/scripts/terminology.sh</command></action></item>
	<item label="terminator"><action name="Execute"><command>/app/scripts/terminator.sh</command></action></item>
	<item label="tilix"><action name="Execute"><command>/app/scripts/tilix.sh</command></action></item>
	<item label="tilda"><action name="Execute"><command>/app/scripts/tilda.sh</command></action></item>
	<item label="Archipelago (AI)"><action name="Execute"><command>/app/scripts/archipelago.AI.sh</command></action></item>
	<item label="hyper (AI)"><action name="Execute"><command>/app/scripts/hyper.AI.sh</command></action></item>
</menu>

<menu id="apps-office-menu" label="Office">
	<item label="LibreOffice"><action name="Execute"><command>/app/scripts/libreoffice.sh</command></action></item>
	<item label="LibreOffice (AI)"><action name="Execute"><command>/app/scripts/libreoffice.AI.sh</command></action></item>
</menu>

<menu id="apps-editors-menu" label="Editors">
	<item label="Gedit"><action name="Execute"><command>/app/scripts/gedit.sh</command></action></item>
	<item label="Medit"><action name="Execute"><command>/app/scripts/medit.sh</command></action></item>
	<item label="Bluefish"><action name="Execute"><command>/app/scripts/bluefish.sh</command></action></item>
	<item label="Geany"><action name="Execute"><command>/app/scripts/geany.sh</command></action></item>
	<item label="VSCode"><action name="Execute"><command>/app/scripts/vscode.sh</command></action></item>
	<item label="XFW"><action name="Execute"><command>/app/scripts/xfw.sh</command></action></item>
</menu>

<menu id="apps-network-browsers-menu" label="Browsers">
	<item label="Chrome"><action name="Execute"><command>/app/scripts/chrome.sh</command></action></item>
	<item label="Chromium"><action name="Execute"><command>/app/scripts/chromium.sh</command></action></item>
	<item label="Vivaldi"><action name="Execute"><command>/app/scripts/vivaldi.sh</command></action></item>
	<item label="Firefox"><action name="Execute"><command>/app/scripts/firefox.sh</command></action></item>
	<!-- <item label="Seamonkey"><action name="Execute"><command>/app/scripts/seamonkey.sh</command></action></item> -->
</menu>

<menu id="apps-network-bittorrent-menu" label="BitTorrent">
	<item label="Deluge"><action name="Execute"><command>/app/scripts/deluge.sh</command></action></item>
	<item label="QBitTorrent"><action name="Execute"><command>/app/scripts/qbittorrent.sh</command></action></item>
	<item label="Ktorrent"><action name="Execute"><command>/app/scripts/ktorrent.sh</command></action></item>
	<item label="TransmissionGtk"><action name="Execute"><command>/app/scripts/transmissiongtk.sh</command></action></item>
	<item label="Bitstormlite"><action name="Execute"><command>/app/scripts/bitstormlite.sh</command></action></item>
</menu>

<menu id="apps-network-tools-menu" label="Tools">
	<item label="Gftp"><action name="Execute"><command>/app/scripts/gftp.sh</command></action></item>
	<item label="Zenmap"><action name="Execute"><command>/app/scripts/zenmap.sh</command></action></item>
</menu>

<menu id="apps-network-menu" label="Network">
	<menu id="apps-network-browsers-menu"/>
	<menu id="apps-network-bittorrent-menu"/>
	<menu id="apps-network-tools-menu"/>
</menu>

<menu id="apps-graphics-menu" label="Graphics">
	<item label="Gimp"><action name="Execute"><command>/app/scripts/gimp.sh</command></action></item>
	<item label="Inkscape"><action name="Execute"><command>/app/scripts/inkscape.sh</command></action></item>
	<item label="Krita"><action name="Execute"><command>/app/scripts/krita.sh</command></action></item>
	<item label="Blender"><action name="Execute"><command>/app/scripts/blender.sh</command></action></item>
</menu>

<menu id="apps-fileman-menu" label="File Managers">
	<item label="Caja"><action name="Execute"><command>/app/scripts/caja.sh</command></action></item>
	<item label="XFE"><action name="Execute"><command>/app/scripts/xfe.sh</command></action></item>
</menu>

<menu id="apps-utilities-menu" label="Utilities">
	<item label="Galculator"><action name="Execute"><command>/app/scripts/galculator.sh</command></action></item>
	<item label="Kcalc"><action name="Execute"><command>/app/scripts/kcalc.sh</command></action></item>
</menu>

<menu id="apps-re-menu" label="Rev Eng">
	<item label="Cutter"><action name="Execute"><command>/app/scripts/cutter.AI.sh</command></action></item>
</menu>

<menu id="system-menu" label="System">
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
	<separator label="Terminals" />
	<item label="xterm"><action name="Execute"><command>xterm</command></action></item>
	<separator label="Applications" />
	<menu id="apps-terminals-menu"/>
	<menu id="apps-office-menu"/>
	<menu id="apps-editors-menu"/>
	<menu id="apps-network-menu"/>
	<menu id="apps-graphics-menu"/>
	<menu id="apps-fileman-menu"/>
	<menu id="apps-utilities-menu"/>
	<menu id="apps-re-menu"/>
	<separator label="System" />
	<menu id="system-menu"/>
	<separator />
	<item label="Log Out"><action name="Exit"><prompt>yes</prompt></action></item>
</menu>

</openbox_menu>
